<h2>Edit My Profile</h2>
<br>
<form ng-submit="users.update()">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control validate" id="first_name1" placeholder="First Name" ng-model="users.user.user.first_name">
  </div>
  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control validate" id="last_name1" placeholder="Last Name" ng-model="users.user.user.last_name">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control validate" id="username1" placeholder="Username" ng-model="users.user.user.username">
  </div>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" class="form-control validate" id="email1" placeholder="Email" ng-model="users.user.user.email">
  </div>
  <div class="form-group" ng-if="main.user.role === 'Artist'">
    <label for="art_school">Art School</label>
    <input type="text" class="form-control validate" id="art_school1" placeholder="Art School" ng-model="users.user.user.art_school">
  </div>
  <button type="submit" class="btn btn-primary" value="submit">Edit My Profile</button>
</form>
