
<div class="container">
  <h1 class="artistsTitle">ARTISTS</h1>
  <br>
  <div class="artistList">
    <ul class="list-unstyled">
      <li ng-repeat="user in users.users" ng-show="user.role == 'Artist'" ng-mouseenter="users.updateImage(user)">
        <!-- <h3>{{ user.id }}</h3> -->
        <h4 class="artistName" ui-sref="usersShow({ id: user.id })">{{ user.first_name }} {{user.last_name}}</h4>
        <!-- <h4>{{ user.pieces }}</h4> -->
      </li>
    </ul>
  </div>
  <div id="artistImage" class="artistImage"><h1>{{ imageToDisplay }}</h1></div>
</div>
