<div class="container">
  <h1 ng-if="main.user.id === users.user.id" class="artistsTitle">MY PROFILE</h1>
  <h1 ng-if="main.user.id !== users.user.id" class="artistsTitle2">{{ users.user.first_name }} {{ users.user.last_name }}</h1>
  <p ng-if="main.user.id === users.user.id" ui-sref="usersEdit({ id: main.user.id })">EDIT MY PROFILE</p>
  <h4>{{ users.user.art_school }}</h4>
  <br>
  <img ng-if="users.user.role === 'Artist'" src="{{ users.user.image }}" width="150">
  <p g-if="users.user.role === 'Artist'">{{ users.user.profile }}</p>


<!--ARTISTS WORK-->
  <div class="row" ng-if="users.user.role === 'Artist'">
    <h4>Work which is currently being bid on</h4>
    <div ng-repeat="piece in users.user.pieces" ng-if="users.user.role === 'Artist'">
        <div class="col-md-4" ng-if="piece.status === 'open'">
          <img src="{{ piece.image}}" width="150">
          <h4 ui-sref="piecesShow({ id: piece.id })">{{ piece.title }}</h4>
          <h5 ng-repeat="bid in piece.bids | orderBy:'price':true | limitTo:1">Highest Bid: £ {{ bid.price }}</h5>
        </div>
    </div>
  </div>

  <div class="row"ng-if="users.user.role === 'Artist'">
    <h4>Work which I have previously sold</h4>
    <div ng-repeat="piece in users.user.pieces" ng-if="users.user.role === 'Artist'">
        <div class="col-md-4" ng-if="piece.status === 'closed'">
          <img src="{{ piece.image}}" width="150">
          <h4 ui-sref="piecesShow({ id: piece.id })">{{ piece.title }}</h4>
          <h5 ng-repeat="bid in piece.bids | orderBy:'price':true | limitTo:1">Highest Bid: £ {{ bid.price }}</h5>
        </div>
    </div>
  </div>




<!--BIDDERS PAGE-->
  <div class="row" ng-if="users.user.id === main.user.id && main.user.role !== 'Artist'">
    <div class="col-md-8 pageTitle myBids">MY BIDS</div>
    <div class="col-md-4 pageTitle previouslyBought">PREVIOUSLY BOUGHT WORKS</div>
  </div>

  <div class="row" ng-if="users.user.id === main.user.id && main.user.role !== 'Artist'">
    <div class="col-md-4">
      <h4>HIGHEST BID</h4>
      <div ng-if="users.user.id === main.user.id && main.user.role !== 'Artist'">
        <div ng-repeat="bid in users.highBids" ng-if="bid.work.status === 'open'" ><h5 ui-sref="piecesShow({ id: bid.work.id })">{{ bid.work.title }}, £ {{ bid.price }}</h5><img src="{{ bid.work.image }}" width="150" /></div>
      </div>
    </div>
    <div class="col-md-4">
      <h4>OUTBID</h4>
      <div ng-if="users.user.id === main.user.id && main.user.role !== 'Artist'">
        <div ng-repeat="bid in users.lowBids" ng-if="bid.work.status === 'open'" ><h5 ui-sref="piecesShow({ id: bid.work.id })">{{ bid.work.title }}, £ {{ bid.price }}</h5><img src="{{ bid.work.image }}" width="150" /></div>
      </div>
    </div>
    <div class="col-md-4">
      <h4 class="blank">..</h4>
      <div ng-if="users.user.id === main.user.id && main.user.role !== 'Artist'">
        <div ng-repeat="bid in users.highBids" ng-if="bid.work.status === 'closed'" ><h5 ui-sref="piecesShow({ id: bid.work.id })">{{ bid.work.title }}, £ {{ bid.price }}</h5><img src="{{ bid.work.image }}" width="150" /></div>
      </div>
    </div>
  </div>
  </div>


  <!-- <div class="row" ng-if="users.user.id === main.user.id && main.user.role !== 'Artist'">
    <div ng-repeat="bid in users.lowBids" class="col-md-4" ng-if="bid.work.status === 'open'" ><h5 ui-sref="piecesShow({ id: bid.work.id })">{{ bid.work.title }}, £ {{ bid.price }}</h5><img src="{{ bid.work.image }}", width=150 /></div>
  </div>

  <div class="row" ng-if="users.user.id === main.user.id && main.user.role !== 'Artist'">
    <div ng-repeat="bid in users.highBids" class="col-md-4" ng-if="bid.work.status === 'closed'" ><h5 ui-sref="piecesShow({ id: bid.work.id })">{{ bid.work.title }}, £ {{ bid.price }}</h5><img src="{{ bid.work.image }}", width=150 /></div>
  </div> -->

  <!-- <div class="row" ng-if="users.user.id === main.user.id && main.user.role !== 'Artist'">
    <div ng-repeat="bid in users.highBids" class="col-md-4" ng-if="bid.work.status === 'open'" ><h5 ui-sref="piecesShow({ id: bid.work.id })">{{ bid.work.title }}, £ {{ bid.price }}</h5><img src="{{ bid.work.image }}", width=150 /></div>
    <div ng-repeat="bid in users.lowBids" class="col-md-4" ng-if="bid.work.status === 'open'" ><h5 ui-sref="piecesShow({ id: bid.work.id })">{{ bid.work.title }}, £ {{ bid.price }}</h5><img src="{{ bid.work.image }}", width=150 /></div>
    <div ng-repeat="bid in users.highBids" class="col-md-4" ng-if="bid.work.status === 'closed'" ><h5 ui-sref="piecesShow({ id: bid.work.id })">{{ bid.work.title }}, £ {{ bid.price }}</h5><img src="{{ bid.work.image }}", width=150 /></div>
  </div> -->


  <!-- <div ng-if="users.user.id === main.user.id && main.user.role !== 'Artist'">
    <h2>My Bids</h2>
    <div ng-if="bid.work.status === 'open'" ng-repeat="bid in users.highBids">
      <h4>Work I have the highest Bid on</h4>
      <h5 ui-sref="piecesShow({ id: bid.work.id })">{{ bid.work.title }}, £ {{ bid.price }} </h5>
      <img src="{{ bid.work.image }}", width=150 />
    </div>

    <div ng-repeat="bid in users.lowBids">
      <h4>Work I have been outbid on</h4>
      <h5 ui-sref="piecesShow({ id: bid.piece.id })">{{ bid.work.title }}, £ {{ bid.price }}</h5>
      <img src="{{ bid.work.image }}", width=150 />
    </div>

    <div ng-if="bid.work.status === 'closed'" ng-repeat="bid in users.highBids">
      <h4>Work I have previously bought</h4>
      <h5>{{ bid.work.title }}, £ {{ bid.price }}</h5>
      <img src="{{ bid.work.image }}", width=150 />
    </div>

  </div>

</div>
</div> -->

<!-- </div> -->
