<!-- <div class="row">
  <div class="col s12 l8 offset-l2">
    <div class="row">
      <div class="col s12 m6">
        <form ng-submit="pieces.create()">
          <div class="row">
            <h4>Piece Information</h4>
          </div>
          <div class="row">
            <div class="input-field col s12 m6">
              <input id="name" type="text" class="validate" ng-model="pieces.piece.piece.name">
              <label for="name">Medium</label>
            </div>
            <div class="input-field col s12 m6">
              <input id="title" type="text" class="validate" ng-model="pieces.piece.piece.title">
              <label for="picture">Title</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="description" type="text" class="validate" ng-model="pieces.piece.piece.description">
              <label for="description">Description</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="image" type="text" class="validate" ng-model="pieces.piece.piece.image">
              <label for="image">Image</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="minimum_bid" type="text" class="validate" ng-model="pieces.piece.piece.minimum_bid">
              <label for="minimum_bid">Minimum Bid</label>
            </div>
          </div>
          <div class="row">
            <input type="submit" class="waves-effect waves-light btn col s12" value="Add Piece">
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->

<h2>Add a New Piece of Work</h2>
<br>
<form ng-submit="pieces.create()">
  <div class="form-group">
    <label for="medium">Medium</label>
    <input type="text" class="form-control validate" id="medium" placeholder="Medium" ng-model="pieces.piece.piece.name">
  </div>
  <div class="form-group">
    <label for="title1">Title</label>
    <input type="text" class="form-control" id="title1" placeholder="Title" ng-model="pieces.piece.piece.title">
  </div>
  <div class="form-group">
    <label for="description1">Description</label>
    <input type="text" class="form-control" id="description2" placeholder="Description" ng-model="pieces.piece.piece.description">
  </div>
  <div class="form-group">
    <label for="password1">Image</label>
    <input type="text" class="form-control" id="image1" placeholder="Image URL" ng-model="pieces.piece.piece.image">
  </div>
  <div class="form-group">
    <label for="password1">Minimum Bid (£)</label>
    <input type="integer" class="form-control" id="minimum_bid1" placeholder="Minimum Bid" ng-model="pieces.piece.piece.minimum_bid">
  </div>
  <button type="submit" class="btn btn-primary">Create New Piece</button>
</form>
