<!--
<ul class="Words">
  <li class="Words-line">
    <p>&nbsp;</p>
    <p>Invest</p>
  </li>
  <li class="Words-line">
    <p>Invest</p>
    <p>in the</p>
  </li>
  <li class="Words-line">
    <p>in the</p>
    <p>Artists of</p>
  </li>
  <li class="Words-line">
    <p>Artists of</p>
    <p>the Future</p>
  </li>
  <li class="Words-line">
    <p>the Future</p>
    <p>on</p>
  </li>
  <li class="Words-line">
    <p>on</p>
    <p>Art App</p>
  </li>
  <li class="Words-line">
    <p>Art App</p>
    <p>&nbsp;</p>
  </li>
</ul> -->

<div class="homePage animate">
  <div class="introPage">
    <h1 class="animate">STARTIST</h1>
    <h6 class="clickToFind">CLICK HERE TO FIND OUT MORE</h6>
  </div>
  <div class="column1 animate"></div><!--
  --><div class="column2 animate"></div><!--
--><div class="column3 animate"></div><!--
--><div class="column4 animate"></div><!--
--><div class="column5 animate"></div>
  <h2 class="customerMsg artistMsgAway">Invest in the</h2>
  <h1 class="customerMsg artistMsg">ARTISTS</h1>
  <h2 class="customerMsg artistMsgOtherWay">of Tomorrow</h2>
  <div class="column1Again animate"></div><!--
  --><div class="column2Again animate"></div><!--
--><div class="column3Again animate"></div><!--
--><div class="column4Again animate"></div><!--
--><div class="column5Again animate"></div>
    <h2 class="studentMsg">Artists, kick START your career</h2>
</div>
