<!--
<ul class="Words">
  <li class="Words-line">
    <p>&nbsp;</p>
    <p>Invest</p>
  </li>
  <li class="Words-line">
    <p>Invest</p>
    <p>in the</p>
  </li>
  <li class="Words-line">
    <p>in the</p>
    <p>Artists of</p>
  </li>
  <li class="Words-line">
    <p>Artists of</p>
    <p>the Future</p>
  </li>
  <li class="Words-line">
    <p>the Future</p>
    <p>on</p>
  </li>
  <li class="Words-line">
    <p>on</p>
    <p>Art App</p>
  </li>
  <li class="Words-line">
    <p>Art App</p>
    <p>&nbsp;</p>
  </li>
</ul> -->

<div class="homePage animate">
  <div class="introPage">
    <h1 class="animate">STARTIST</h1>
    <h6>CLICK TO FIND OUT MORE</h6>
  </div>
  <div class="secondPage animate">
    <div class="column1 animate"></div><!--
  --><div class="column2 animate"></div><!--
--><div class="column3 animate"></div><!--
--><div class="column4 animate"></div><!--
--><div class="column5 animate"></div>
    <h2>INVEST IN THE TALENT OF TOMORROW</h2>
  </div>
  <div class="thirdPage">
    <h2>KICK START YOUR CAREER WITH STARTIST</h2>
  </div>
</div>
