<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>

<ul class="Words">
  <li class="Words-line">
    <p>&nbsp;</p>
    <p>Invest</p>
  </li>
  <li class="Words-line">
    <p>Invest</p>
    <p>in the</p>
  </li>
  <li class="Words-line">
    <p>in the</p>
    <p>Artists of</p>
  </li>
  <li class="Words-line">
    <p>Artists of</p>
    <p>the Future</p>
  </li>
  <li class="Words-line">
    <p>the Future</p>
    <p>on</p>
  </li>
  <li class="Words-line">
    <p>on</p>
    <p>Art App</p>
  </li>
  <li class="Words-line">
    <p>Art App</p>
    <p>&nbsp;</p>
  </li>
</ul>
