<!DOCTYPE html>
<html ng-app="artApp">
<head>
  <meta charset="utf-8">
  <title>Art App</title>
  <base href="/">
  <link href="https://fonts.googleapis.com/css?family=Mada|Montserrat|Raleway" rel="stylesheet">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <!-- <ul class="nav navbar-nav navbar-right">
    <li ng-show="main.user">
      <p class="navbar-text">Welcome, {{ main.user.first_name }}</p>
    </li>
    <li>
      <a ui-sref="home">Home</a>
    </li>
    <li>
      <a ui-sref="about">About</a>
    </li>
    <li ng-hide="main.user">
      <a ui-sref="usersRegister">Register</a>
    </li>
    <li ng-hide="main.user">
      <a ui-sref="usersLogin">Login</a>
    </li>
    <li ng-show="main.user">
      <a ui-sref="usersShow({ id: main.user.id })">My Profile</a>
    </li>
    <li ng-show="main.user">
      <a ui-sref="usersIndex">Users</a>
    </li>
    <li ng-show="main.user">
      <a ui-sref="piecesIndex">Pieces</a>
    </li>
    <li ng-show="main.user">
      <a ui-sref="piecesNew">Add New Piece</a>
    </li>
    <li ng-show="main.user">
      <a ng-click="main.logout()">Logout</a>
    </li>
  </ul> -->


  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-show="main.user">
        <li><a ui-sref="home">Welcome, {{ main.user.first_name }}</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a ui-sref="home">Home</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a ui-sref="about">About</a></li>
      </ul>
      <ul class="nav navbar-nav" ng-show="main.user">
        <li><a ui-sref="usersShow({ id: main.user.id })">My Profile</a></li>
      </ul>
      <ul class="nav navbar-nav" ng-show="main.user">
        <li><a ui-sref="usersIndex">Artists</a></li>
      </ul>
      <ul class="nav navbar-nav" ng-show="main.user">
        <li><a ui-sref="piecesIndex">Works</a></li>
      </ul>
      <ul class="nav navbar-nav" ng-show="main.user.role === 'Artist'">
        <li><a ui-sref="piecesNew">Add a new piece</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-hide="main.user">
        <li><a ui-sref="usersRegister">Register</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-hide="main.user">
        <li><a ui-sref="usersLogin">Login</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="main.user">
        <li><a ng-click="main.logout()">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <main ui-view></main>
</body>
</html>
