// Import all of your scss files here
body {
  background: #fefbf7;
  // font-family: 'Montserrat', sans-serif;
  font-family: monospace;
}

.container {
  margin: 0 auto;
  width: 95%;
}

  .navbar {
    background-color: #fefbf7;
    margin: 0;
    padding: 0;
    border: 0px;
    border-radius: 0;
    .container-fluid {
      .collapse {
        font-family: monospace;
        font-size: 18px;
        ul {
          color: #3949ab;
          li {
            transition-property: border-bottom;
            a {
              color: black;
              transition-property: color, font-weight;
            }
          }
        }
        .icon {
          font-family: 'Mada', sans-serif;
          font-size: 35px;
          color: black;
        }
      }
    }
  }

  .navbar {
    .container-fluid {
      ul {
        li:hover {
          border-bottom: 2px solid black;
          a {
            color: black;
            font-weight: bold;
          }
        }
      }
    }
  }

  .artistsTitle {
    font-family: 'Mada', sans-serif;
    font-size: 40px;
  }

  .artistList {
    float: left;
  }

  .artistImage {
    float: right;
    border: 1px solid black;
    width: 50%;
    height: 200px;
    margin-right: 50px;
  }

  .homePage {
    height: 300vh;
    width: 100%;
    margin: 0;
    position: absolute;
    .introPage {
      position: relative;
      padding: 0;
      // top: 50%;
      // bottom: 50%;
      height: 100vh;
      width: 100%;
      background-color: #3949ab;
      padding: 0;
      h1 {
        font-size: 100px;
        text-align: center;
        color: white;
        padding-top: 60px;
        font-family: 'Mada', sans-serif;
      }
      .clickToFind {
        margin-top: 30vh;
        text-align: center;
        color: white;
      }
    }
      .column1 {
        background-color: #3D5AFE;
        // display: inline-block;
        position: relative;
        height: 100vh;
        width: 20%;
        margin: 0;
        padding: 0;
        // transition-property: background-color, margin-top;
        // transition-duration: 2s;
        // transition-timing-function: linear, ease;
        transition: transform 2s;
        transition-delay: 0s;
        // animation: move 3s ease;
      }
      .column2 {
        background-color: #3D5AFE;
        position: relative;
        // display: inline-block;
        height: 100vh;
        width: 20%;
        padding: 0;
        margin-top: -100vh;
        left: 20%;
        transition: transform 2s;
        transition-delay: 1s;
      }
      .column3 {
        background-color: #3D5AFE;
        position: relative;
        // display: inline-block;
        height: 100vh;
        width: 20%;
        padding: 0;
        margin: 0;
        margin-top: -100vh;
        left: 40%;
        transition: transform 2s;
        transition-delay: 0.5s;
      }
      .column4 {
        background-color: #3D5AFE;
        position: relative;
        // display: inline-block;
        height: 100vh;
        width: 20%;
        padding: 0;
        margin: 0;
        margin-top: -100vh;
        left: 60%;
        transition: transform 2s;
        transition-delay: 2s;
      }
      .column5 {
        background-color: #3D5AFE;
        position: relative;
        // display: inline-block;
        height: 100vh;
        width: 20%;
        padding: 0;
        margin: 100;
        margin-top: -100vh;
        left: 80%;
        transition: transform 2s;
        transition-delay: 1.5s;
      }
      .customerMsg {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        transition: transform 2s;
        transition-delay: 4.5s;
        font-size: 30px;
        // transition-property: color;
        // transition-duration: 10s;
        // transition-timing-function: linear, ease;
      }
      .artistMsg {
        font-family: 'Mada', sans-serif;
        font-size: 100px;
      }
      .column1Again {
        background-color: #8C9EFF;
        // display: inline-block;
        position: relative;
        height: 100vh;
        width: 20%;
        margin: 0;
        padding: 0;
        // transition-property: background-color, margin-top;
        // transition-duration: 2s;
        // transition-timing-function: linear, ease;
        transition: transform 2s;
        transition-delay: 6s;
        // animation: move 3s ease;
      }
      .column2Again {
        background-color: #8C9EFF;
        position: relative;
        // display: inline-block;
        height: 100vh;
        width: 20%;
        padding: 0;
        margin-top: -100vh;
        left: 20%;
        transition: transform 2s;
        transition-delay: 7s;
      }
      .column3Again {
        background-color: #8C9EFF;
        position: relative;
        // display: inline-block;
        height: 100vh;
        width: 20%;
        padding: 0;
        margin: 0;
        margin-top: -100vh;
        left: 40%;
        transition: transform 2s;
        transition-delay: 6.5s;
      }
      .column4Again {
        background-color: #8C9EFF;
        position: relative;
        // display: inline-block;
        height: 100vh;
        width: 20%;
        padding: 0;
        margin: 0;
        margin-top: -100vh;
        left: 60%;
        transition: transform 2s;
        transition-delay: 8s;
      }
      .column5Again {
        background-color: #8C9EFF;
        position: relative;
        // display: inline-block;
        height: 100vh;
        width: 20%;
        padding: 0;
        margin: 100;
        margin-top: -100vh;
        left: 80%;
        transition: transform 2s;
        transition-delay: 7.5s;
      }
      .studentMsg {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        transition: transform 2s;
        transition-delay: 9s;
        font-size: 30px;
        // transition-property: color;
        // transition-duration: 10s;
        // transition-timing-function: linear, ease;
      }
    // }
  }

    .homePage:hover {
        .column1 {
          transform: translate(0px, -100vh);
        }
        .column2 {
          transform: translate(0px, -100vh);
        }
        .column3 {
          transform: translate(0px, -100vh);
        }
        .column4 {
          transform: translate(0px, -100vh);
        }
        .column5 {
          transform: translate(0px, -100vh);
        }
        .customerMsg {
          transform: translate(0px, -180vh);
          // color: #009688;
        }
        .column1Again {
          transform: translate(0px, -235vh);
        }
        .column2Again {
          transform: translate(0px, -235vh);
        }
        .column3Again {
          transform: translate(0px, -235vh);
        }
        .column4Again {
          transform: translate(0px, -235vh);
        }
        .column5Again {
          transform: translate(0px, -235vh);
        }
        .studentMsg {
          transform: translate(0px, -310vh);
          // color: #009688;
        }
    }


  .login {
    background-color: red;
    width: 500px;
  }

.loginPage {
  background-color: #7D80DA;
  height: 100vh;
  width: 100%;
}

.loginForm {
  padding: 10px;
  margin-top: 60px;
  border-radius: 20px;
  height: 270px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid white;
  h2 {
    margin: 0;
    color: white;
  }
  form {
    color: white;
    input {
      background-color: #7D80DA;
      border: 2px solid white;
    }
    button {
      background-color: #7D80DA;
      border: 2px solid white;
    }
  }
}

.registerForm {
  padding: 10px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  height: 700px;
  width: 600px;
  border: 4px solid white;
  color: white;
  h2 {
    margin: 0;
    color: white;
  }
  form {
    color: white;
    fieldset {
      legend {
        color: white;
      }
    }
    input {
      background-color: #3949ab;
      border: 2px solid white;
    }
    button {
      background-color: #3949ab;
      border: 2px solid white;
    }
  }
}








// .container {
//   padding: 0;
//   margin: 0;
// }




// $total-lines: 6;
//
// $left-offset: 29px;
// $clip-height: 50px;
// $line-height: $clip-height - 5px;
//
// .Words {
//   margin: 0 auto;
//   padding: 80px 0;
//   font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
//   font-size: 48px;
//   font-weight: 900;
//   letter-spacing: -2px;
//   text-transform: uppercase;
//   // Sort out nasty text fuzz
//   transform: translate3d(0, 0, 0);
//   -webkit-font-smoothing: antialiased;
//   -webkit-font-kerning: normal;
//   -webkit-text-size-adjust: 100%;
// }
//
// .Words-line {
//   height: $clip-height;
//   overflow: hidden;
//   position: relative;
//
//   // Change the perspective of each alternating line
//   &:nth-child(odd) {
//     transform: skew(60deg, -30deg) scaleY(.66667);
//   }
//   &:nth-child(even) {
//     transform: skew(0deg, -30deg) scaleY(1.33333);
//   }
//
//   // Loop over the total lines and apply a left offset
//   @for $i from 1 through $total-lines+1 {
//     &:nth-child(#{$i}) {
//       left: $left-offset * $i;
//     }
//   }
// }
//
//
// /*
// ** Fine-grained text styles
// */
// p {
//   height: $clip-height;
//   line-height: $line-height;
//   padding: 0 10px;
//   transition: all .4s ease-in-out;
//   transform: translate3d(0, 0, 0);
//   vertical-align: top;
//   white-space: nowrap;
// }
//
//
// /*
// ** The hover interaction
// */
// .Words:hover {
//   p {
//     transform: translate3d(0, -($clip-height), 0);
//   }
// }

// @import url(https://fonts.googleapis.com/css?family=Cabin);
//
// $colorBg: #222a30;
// $colorOutline: #ffffff;
// $colorOutlineFade: #4e5559;
//
// $widthMouse: 52px;
// $heightMouse: 88px;
// $borderMouse: 6px;
//
// $posMouse: 8px;
// $posText: 2px;
//
// $sizeTrackball: 10px;
// $posTrackball: 20px;
// $shrinkTrackball: 0.4;
//
// $animDuration: 5s;
//
// @mixin bgGradient {
//   background:
//     $colorOutlineFade
//     linear-gradient(
//       transparent 0%,
//       transparent 50%,
//       $colorOutline 50%,
//       $colorOutline 100%
//     );
// }
//
// body {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
//   background-color: $colorBg;
// }
//
// p {
//   margin-top: 50px;
//   font-family: "Cabin", sans-serif;
//   letter-spacing: 12px;
//   text-indent: 12px;
//   color: $colorOutline;
//   animation:
//     colorText $animDuration ease-out infinite,
//     nudgeText $animDuration ease-out infinite;
// }
//
// .mouse {
//   @include bgGradient;
//   position: relative;
//   width: $widthMouse;
//   height: $heightMouse;
//   background-size: 100% 100%;
//   border-radius: 100px;
//   background-size: 225%;
//   animation:
//     colorSlide $animDuration linear infinite,
//     nudgeMouse $animDuration ease-out infinite;
//   &:before,
//   &:after {
//     content: "";
//     position: absolute;
//     top: 0; right: 0; bottom: 0; left: 0;
//     margin: auto;
//   }
//   &:before {
//     width: $widthMouse - $borderMouse;
//     height: $heightMouse - $borderMouse;
//     background-color: $colorBg;
//     border-radius: 100px;
//   }
//   &:after {
//     background-color: $colorOutline;
//     width: $sizeTrackball;
//     height: $sizeTrackball;
//     border-radius: 100%;
//     animation: trackBallSlide $animDuration linear infinite;
//   }
// }
//
// @keyframes colorSlide {
//   0% { background-position: 0% 100%; }
//   20% { background-position: 0% 0%; }
//   21% { background-color: $colorOutlineFade; }
//   29.99% {
//     background-color: $colorOutline;
//     background-position: 0% 0%;
//   }
//   30% {
//     background-color: $colorOutlineFade;
//     background-position: 0% 100%;
//   }
//   50% { background-position: 0% 0%; }
//   51% { background-color: $colorOutlineFade; }
//   59.99% {
//     background-color: $colorOutline;
//     background-position: 0% 0%;
//   }
//   60% {
//     background-color: $colorOutlineFade;
//     background-position: 0% 100%;
//   }
//   80% { background-position: 0% 0%; }
//   81% { background-color: $colorOutlineFade; }
//   89.99%, 100% { background-color: $colorOutline; }
// }
//
// @keyframes trackBallSlide {
//   0% {
//     opacity: 1;
//     transform: scale(1) translateY(-$posTrackball);
//   }
//   6% {
//     opacity: 1;
//     transform: scale(0.9) translateY($posTrackball/4);
//   }
//   14% {
//     opacity: 0;
//     transform: scale($shrinkTrackball) translateY($posTrackball*2);
//   }
//   15%, 19% {
//     opacity: 0;
//     transform: scale($shrinkTrackball) translateY(-$posTrackball);
//   }
//   28%, 29.99% {
//     opacity: 1;
//     transform: scale(1) translateY(-$posTrackball);
//   }
//   30% {
//     opacity: 1;
//     transform: scale(1) translateY(-$posTrackball);
//   }
//   36% {
//     opacity: 1;
//     transform: scale(0.9) translateY($posTrackball/4);
//   }
//   44% {
//     opacity: 0;
//     transform: scale($shrinkTrackball) translateY($posTrackball*2);
//   }
//   45%, 49% {
//     opacity: 0;
//     transform: scale($shrinkTrackball) translateY(-$posTrackball);
//   }
//   58%, 59.99% {
//     opacity: 1;
//     transform: scale(1) translateY(-$posTrackball);
//   }
//   60% {
//     opacity: 1;
//     transform: scale(1) translateY(-$posTrackball);
//   }
//   66% {
//     opacity: 1;
//     transform: scale(0.9) translateY($posTrackball/4);
//   }
//   74% {
//     opacity: 0;
//     transform: scale($shrinkTrackball) translateY($posTrackball*2);
//   }
//   75%, 79% {
//     opacity: 0;
//     transform: scale($shrinkTrackball) translateY(-$posTrackball);
//   }
//   88%, 100% {
//     opacity: 1;
//     transform: scale(1) translateY(-$posTrackball);
//   }
// }
//
// @keyframes nudgeMouse {
//   0% { transform: translateY(0); }
//   20% { transform: translateY($posMouse); }
//   30% { transform: translateY(0); }
//   50% { transform: translateY($posMouse); }
//   60% { transform: translateY(0); }
//   80% { transform: translateY($posMouse); }
//   90% { transform: translateY(0); }
// }
//
// @keyframes nudgeText {
//   0% { transform: translateY(0); }
//   20% { transform: translateY($posText); }
//   30% { transform: translateY(0); }
//   50% { transform: translateY($posText); }
//   60% { transform: translateY(0); }
//   80% { transform: translateY($posText); }
//   90% { transform: translateY(0); }
// }
//
// @keyframes colorText {
//   21% { color: $colorOutlineFade; }
//   30% { color: $colorOutline; }
//   51% { color: $colorOutlineFade; }
//   60% { color: $colorOutline; }
//   81% { color: $colorOutlineFade; }
//   90% { color: $colorOutline; }
// }
